<div class="container">
    Name : {{chosenServerName}}
    <br>
    FlightId : {{chosenFlightId}}
    <div>
        <span>Amount of travellers:</span>
        <select ng-model="number" convert-to-number>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <span><button type="button" ng-click="getNumberOfTravellers(number)">Go!</button></span>
    </div>

    <div >
        <form ng-repeat="x in array" class="input-group col-xs-5" novalidate>
            <h3>Passenger:</h3>
            <div class="control-group">
                <div class="controls">
                    <h4>First Name</h4>
                    <input class="form-control" type="text" placeholder="First Name"
                           ng-model="passengers[x].firstName">
                </div>
                <div class="controls">
                    <h4>Last Name</h4>
                    <input class="form-control" type="text" placeholder="Last name"
                           ng-model="passengers[x].lastName">
                </div>
                <div class="controls">
                    <h4>Street</h4>
                    <input class="form-control" type="text" placeholder="Street"
                           ng-model="passengers[x].street">
                </div>
                <div class="controls">
                    <h4>City</h4>
                    <input class="form-control" type="text" placeholder="City"
                           ng-model="passengers[x].city">
                </div>
                <div class="controls">
                    <h4>Country</h4>
                    <input class="form-control" type="text" placeholder="Country"
                           ng-model="passengers[x].country">
                </div>

                <div class="controls">

                </div>
            </div>
        </form>
        <div ng-show="number && array.length > 0">
            <p>
                <button type="button" ng-click="reserve()">Book tickets</button>
            </p>

        </div>
    </div>
</div>