<container>
    <form name="form" class="input-group" novalidate>
        Date: <input class="form-control" type="date" name="time" ng-model="dDate">
        <br>
        From: <input class="form-control" type="text" placeholder="Airport" name="airportD" ng-model="departure">
        <br>
        <input type="checkbox" ng-model="more" name="more">Destination: <input ng-show="more" class="form-control" type="text" placeholder="Airport" name="airportA" ng-model="arrival">
        <br>
        <input type="submit" ng-click="search()">
    </form>
    <div >
    {{error}}
    <ul ng-repeat="hit in info">
    <li>
    {{hit}}
    </li>
    </ul>
    </div>
</container>
