<container>
    <form name="form" class="input-group col-xs-4" novalidate>
        <div class="control-group">
            <div class="controls">
                <label class="control-label" for="time">Date</label>
                <span class="redtext" ng-show="checkDate"> Please select date!</span>
                <input id="time" class="form-control" type="date" name="time" ng-model="dDate">
            </div>
            <div class="controls">
                <label class="control-label" for="departure">From</label>
                <span class="redtext" ng-show="checkDeparture"> Please select airport!</span>
                <input autocomplete="on" id="departure" class="form-control" type="text" placeholder="Airport" name="airportD"
                       ng-model="departure">
            </div>
            <div class="controls">
                <label class="control-label" for="ar">Destination</label>
                <input id="ar" type="checkbox" ng-model="more" name="more">
                <span class="redtext" ng-show="checkArrival && more"> Please select airport!</span>
                <input autocomplete="on" id="arrival" ng-show="more" class="form-control" type="text" placeholder="Airport"
                       name="airportA" ng-model="arrival">
            </div>
            <div class="controls">
                <p style="text-align: center;">
                    <input type="submit" value="Search" ng-click="search()">
                </p>
            </div>
        </div>
    </form>
    <div ng-show="error">
        {{error.message}}
    </div>
    <div ng-repeat="hit in info">
    <div class="panel panel-primary" ng-repeat="flight in hit.flights">
        <div class="panel-heading">
            <h3 class="panel-title">{{flight.airline}}</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>
                    <h5>From:
                        <small>{{flight.depature}}</small>
                    </h5>
                </li>
                <li>
                    <h5>To:
                        <small>{{flight.destination}}</small>
                    </h5>
                </li>
                <li>
                    <h5>Price:
                        <small>{{flight.price}}</small>
                    </h5>
                </li>
                <li>
                    <h5>Available seats:
                        <small>{{flight.availableSeats}}</small>
                    </h5>
                </li>
                <div ng-show="flight.bookingCode">
                    <button type="button" ng-click="booking(hit.name,flight.flightId)">Booking</button>
                </div>
            </ul>
        </div>
    </div>
    </div>
    <!--<div ng-show="info">-->
        <!--<ul ng-repeat="hit in info">-->
            <!--<p>{{hit.name}}</p>-->
            <!--<li ng-repeat="flight in hit.flights">-->
                <!--<p>{{flight.flightId}}</p>-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<h5>Airline:-->
                            <!--<small>{{flight.airline}}</small>-->
                        <!--</h5>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<h5>From:-->
                            <!--<small>{{flight.depature}}</small>-->
                        <!--</h5>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<h5>To:-->
                            <!--<small>{{flight.destination}}</small>-->
                        <!--</h5>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<h5>Price:-->
                            <!--<small>{{flight.price}}</small>-->
                        <!--</h5>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<h5>Available seats:-->
                            <!--<small>{{flight.availableSeats}}</small>-->
                        <!--</h5>-->
                    <!--</li>-->
                    <!--<div ng-show="flight.bookingCode">-->
                        <!--<button type="button" ng-click="booking(hit.name,flight.flightId)">Booking</button>-->
                    <!--</div>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
</container>