<div class="container">
    <h2>Reservations</h2>
    <div class="panel panel-primary" ng-repeat="x in user.tickets" ng-show='notickets && !showReservation'>
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Flight ID: {{x.flightInstanceID}}</li>
                <li>Reservation ID: {{x.ReservationsID}}</li>
                <div style="margin-left:auto; margin-right:auto;">
                    <button class="btn btn-primary"
                            ng-click="getReservation(x.airline,x.ReservationsID)">Show details
                    </button>
                    <button class="btn btn-primary"
                            ng-click="deleteReservation(x.airline,x.ReservationsID,user.userName,x._id)">Delete reservation
                    </button>
                </div>
            </ul>
            </div>
            </div>
    <p ng-show='!notickets && !showReservation'> You have no reservations</p>
    <div class="panel panel-primary" ng-show="showReservation">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
        <ul>
            <li>Reservation ID: {{reservation.reservationID}}</li>
            <li>Flight ID: {{reservation.flightID}}</li>
            <li>Passengers:
            <ul ng-repeat="passenger in reservation.Passengers">
                <li>Name: {{passenger.firstName}} {{passenger.lastName}} - Address: {{passenger.street}}, {{passenger.city}}, {{passenger.country}}</li>
            </ul></li>
            <li>Price: {{price}}</li>
            <li>Total price: {{reservation.totalPrice}}</li>
        </ul>
        <div>
        <button class="btn btn-primary"
                ng-click="back()">Back
        </button>
            </div>
    </div>
</div>
</div>
