
<div class="col-md-3">
    <form class="form-horizontal" name="form" role="form">
        <div class="form-group has-feedback">
            <label class="control-label col-sm-3" for="userName">userName</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="userName" ng-model="newUser.userName" id="userName" aria-describedby="userNameStatus">
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="control-label col-sm-3" for="email">Email </label>
            <div class="col-sm-9">
                <input class="form-control" type="email" name="uEmail" ng-model="newUser.email" id="email">
                <span ng-show="form.uEmail.$error.email" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="control-label col-sm-3" for="pw">Password</label>
            <div class="col-sm-9">
                <input class="form-control" type="password" name="pw" ng-model="newUser.pw" id="pw">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="button" value="Save" ng-click="saveUser()">
            </div>
        </div>
    </form>
</div>