
<div class="col-md-3">
    <form class="form-horizontal" role="form">
        <div class="form-group has-feedback">
            <label class="control-label col-sm-3" for="userName">userName</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="userName" ng-model="newUser.userName" id="userName" aria-describedby="userNameStatus">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span id="userName3Status" class="sr-only">(success)</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="email">Email </label>
            <div class="col-sm-8">
                <input class="form-control" type="email" name="email" ng-model="newUser.email" id="email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="pw">Password</label>
            <div class="col-sm-8">
                <input class="form-control" type="password" name="pw" ng-model="newUser.pw" id="pw">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="button" value="Save" ng-click="saveUser()">
            </div>
        </div>
    </form>
</div>