<div class="back">
<div class="col-md-3">
    <form class="form-horizontal" name="form" role="form">
        <div ng-show="!CheckUserNameError && !CheckUserNameSucces" class="form-group has-feedback">
            <label class="control-label col-sm-3" for="userName2">userName</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="userName" ng-model="newUser.userName" id="userName1" aria-describedby="userNameStatus">
            </div>
        </div>
        <div ng-show="CheckUserNameError" class="form-group has-error has-feedback">
            <label class="control-label col-sm-3" for="userName1">userName</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="userName" ng-model="newUser.userName" id="userName2" aria-describedby="userNameStatus">
                <span class="help-inline">{{CheckUserNameError}}</span>
            </div>
        </div>
        <div ng-show="CheckUserNameSucces" class="form-group has-success has-feedback">
            <label class="control-label col-sm-3" for="userName3">Username</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="userName" ng-model="newUser.userName" id="userName3" aria-describedby="userNameStatus">
            </div>
        </div>
        <div ng-show="!CheckEmailError && !CheckEmailSucces" class="form-group has-feedback">
            <label class="control-label col-sm-3" for="email1">Email </label>
            <div class="col-sm-9">
                <input class="form-control" type="email" name="uEmail" ng-model="newUser.email" id="email1">
            </div>
        </div>
        <div ng-show="CheckEmailSucces" class="form-group has-success has-feedback">
            <label class="control-label col-sm-3" for="email2">Email </label>
            <div class="col-sm-9">
                <input class="form-control" type="email" name="uEmail" ng-model="newUser.email" id="email2">
            </div>
        </div>
        <div ng-show="CheckEmailError" class="form-group has-error has-feedback">
            <label class="control-label col-sm-3" for="email3">Email </label>
            <div class="col-sm-9">
                <input class="form-control" type="email" name="uEmail" ng-model="newUser.email" id="email3">
                <span ng-show="form.uEmail.$error.email" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="help-inline">{{CheckEmailError}}</span>
            </div>
        </div>
        <div ng-show="!CheckPWError && !CheckPWSucces" class="form-group has-feedback">
            <label class="control-label col-sm-3" for="pw1">Password</label>
            <div class="col-sm-9">
                <input class="form-control" type="password" name="pw" ng-model="newUser.pw" id="pw1">
            </div>
        </div>
        <div ng-show="CheckPWSucces" class="form-group has-success has-feedback">
            <label class="control-label col-sm-3" for="pw2">Password</label>
            <div class="col-sm-9">
                <input class="form-control" type="password" name="pw" ng-model="newUser.pw" id="pw2">
            </div>
        </div>
        <div ng-show="CheckPWError" class="form-group has-error has-feedback">
            <label class="control-label col-sm-3" for="pw3">Password</label>
            <div class="col-sm-9">
                <input class="form-control" type="password" name="pw" ng-model="newUser.pw" id="pw3">
                <span class="help-inline">{{CheckPWError}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" ng-click="saveUser()">Create user</button>
            </div>
        </div>
    </form>
</div>
</div>